// utilities.scss
$importedmodules: () !default;
@mixin onceOnly($name) {
  @if (index($importedmodules, $name) == null) {
    $importedmodules: append($importedmodules, $name) !global;
    @content;
  }
}

// MyComponent.scss
@import "utilities.scss";
@include onceOnly("MyComponent") {

  // all styles go here

}